{% extends "base.html" %}
{% block content %}
    <h1>答案選項</h1>
    <a href="/poll/">回上頁</a>
    <form action="/poll/choice/update/" method="post" class="form col-6">
       {% csrf_token %}
      <input type="hidden" id="id" name="id" value="{{ choice.id }}">
      <label for="seq_no">序號:</label>
      <input type="text" id="seq_no" name="seq_no" value="{{ choice.seq_no }}" 
        class="form-control">
      <label for="choice_text">答案選項:</label>
      <input type="text" id="choice_text" name="choice_text" value="{{ choice.choice_text }}" 
        class="form-control"><br />
      <input type="submit" value="更正">
    </form>    
{% endblock %}