<!-- templates/registration/login.html -->
{% extends "base.html" %}
{% block content %}
<style>
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
</style>

<div class="container">
    <div class="center-screen">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <br />
          <button type="submit">登入</button>
        </form>
    </div>
</div>
{% endblock %}